* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#start {
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

h1 {
    font-size: 10vh;
    font-weight: bold;
    color: bisque;
    text-align: center;
    animation: slideInFromTop 1.5s ease-in-out;
}

p {
    font-size: 5vh;
    font-weight: bold;
    color: white;
    text-align: center;
    animation: slideInFromBottom 1.5s ease-in-out;
}

/* Animation for fading in */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Animation for sliding text from top */
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Animation for sliding text from bottom */
@keyframes slideInFromBottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
